@*
    //**********************************************************************************
    //* サンプル アプリ・モデル
    //**********************************************************************************

    // テスト用クラスなので、必要に応じて流用 or 削除して下さい。

    //**********************************************************************************
    //* クラス名        ：Index
    //* クラス日本語名  ：CRUDサンプル（Ajax.BeginForm）
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  20xx/xx/xx  ＸＸ ＸＸ         ＸＸＸＸ
    //**********************************************************************************
*@

@using MVC_Sample.Models.ViewModels
@model CrudViweModel

@{
    // ページタイトル
    ViewBag.Title = "CRUDサンプル（Ajax.BeginForm）";
}

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

@* 本文レイアウト（RenderBodyに出力されます） *@
@* Html.BeginFormは従来の全体方式、Ajax.BeginFormは部分更新方式（UpdateTargetIdの範囲を部分更新） *@
@using (Ajax.BeginForm(null, null,
    new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "messageResult" }, new { id = "form1" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label>データアクセス制御クラス（データプロバイダ）を選択</label>
                @Html.DropDownListFor(model => model.DdlDap, Model.DdlDapItems, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>個別、共通、自動生成のＤａｏ種別</label>
                @Html.DropDownListFor(model => model.DdlMode1, Model.DdlMode1Items, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>静的、動的のクエリ モードを選択</label>
                @Html.DropDownListFor(model => model.DdlMode2, Model.DdlMode2Items, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>分離レベルを選択</label>
                @Html.DropDownListFor(model => model.DdlIso, Model.DdlIsoItems, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>コミット、ロールバックを設定（例外発生時、ロールバック）</label>
                @Html.DropDownListFor(model => model.DdlExRollback, Model.DdlExRollbackItems, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label>ShipperID：</label>
                @Html.TextBoxFor(model => model.Shipper.ShipperID, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>CompanyName：</label>
                @Html.TextBoxFor(model => model.Shipper.CompanyName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Phone：</label>
                @Html.TextBoxFor(model => model.Shipper.Phone, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>並び替え対象列</label>
                @Html.DropDownListFor(model => model.DdlOrderColumn, Model.DdlOrderColumnItems, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>昇順・降順</label>
                @Html.DropDownListFor(model => model.DdlOrderSequence, Model.DdlOrderSequenceItems, new { @class = "form-control" })
            </div>
            <span>処理結果：</span>
            <div id="messageResult">@Html.Partial("_MessageView")</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div id="chartResult" style="width: 100%; height: 100%;">@Html.Partial("_ChartView")</div>
            <button id="button10" class="btn btn-default">クリア</button>
        </div>
    </div>
    <div>
        <button id="button1" class="btn btn-default">件数取得</button>
        <button id="button2" class="btn btn-default">一覧取得（dt）</button>
        <button id="button3" class="btn btn-default">一覧取得（ds）</button>
        <button id="button4" class="btn btn-default">一覧取得（dr）</button>
        <button id="button5" class="btn btn-default">一覧取得（動的SQL）</button>
    </div>
    <div>
        <button id="button6" class="btn btn-default">一件参照</button>
        <button id="button7" class="btn btn-default">追加</button>
        <button id="button8" class="btn btn-default">更新</button>
        <button id="button9" class="btn btn-default">削除</button>
    </div>
    <div>
        <label id="lblErrorMessage"></label>
        <button id="button21" class="btn btn-default">二重送信防止</button>
        <button id="button22" class="btn btn-default">画面遷移（ポストバック後リダイレクト）</button>
    </div>
}

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{

    <script type="text/javascript">
        $(function () {
            $('#button1').click(function () {
                // button1 の場合は、GetCountのActionを実行しメッセージ部分を更新する
                $('#form1').attr('data-ajax-update', '#messageResult');
                $('#form1').attr('action', '@Url.Action("SelectCount")');

                // If prevent double submission in Ajax.BeginForm(), then sets this flag to true.
                // Ajax.BeginForm() で二重送信を防止する場合は、このフラグをtrueに設定します。
                PreventAjaxDoubleSubmit = true;

                $('#form1').submit();

                // サブミットが 2 回発生しないよう、false を返す
                return false;
            });

            $('#button2').click(function () {
                // button2 の場合は、SelectAll_DTのActionを実行し表部分を更新する
                $('#form1').attr('data-ajax-update', '#chartResult');
                $('#form1').attr('action', '@Url.Action("SelectAll_DT")');
                $('#form1').submit();

                // サブミットが 2 回発生しないよう、false を返す
                return false;
            });

            $('#button3').click(function () {
                // button3 の場合は、SelectAll_DSのActionを実行し表部分を更新する
                $('#form1').attr('data-ajax-update', '#chartResult');
                $('#form1').attr('action', '@Url.Action("SelectAll_DS")');
                $('#form1').submit();

                // サブミットが 2 回発生しないよう、false を返す
                return false;
            });

            $('#button4').click(function () {
                // button4 の場合は、SelectAll_DRのActionを実行し表部分を更新する
                $('#form1').attr('data-ajax-update', '#chartResult');
                $('#form1').attr('action', '@Url.Action("SelectAll_DR")');
                $('#form1').submit();

                // サブミットが 2 回発生しないよう、false を返す
                return false;
            });

            $('#button5').click(function () {
                // button5 の場合は、SelectAll_DSQLのActionを実行し表部分を更新する
                $('#form1').attr('data-ajax-update', '#chartResult');
                $('#form1').attr('action', '@Url.Action("SelectAll_DSQL")');
                $('#form1').submit();

                // サブミットが 2 回発生しないよう、false を返す
                return false;
            });

            $('#button6').click(function () {
                // button6 の場合は、SelectのActionを実行しメッセージ部分を更新する
                $('#form1').attr('data-ajax-update', '#messageResult');
                $('#form1').attr('action', '@Url.Action("Select")');
                $('#form1').submit();

                // サブミットが 2 回発生しないよう、false を返す
                return false;
            });

            $('#button7').click(function () {
                // button7 の場合は、InsertのActionを実行しメッセージ部分を更新する
                $('#form1').attr('data-ajax-update', '#messageResult');
                $('#form1').attr('action', '@Url.Action("Insert")');
                $('#form1').submit();

                // サブミットが 2 回発生しないよう、false を返す
                return false;
            });

            $('#button8').click(function () {
                // button8 の場合は、UpdateのActionを実行しメッセージ部分を更新する
                $('#form1').attr('data-ajax-update', '#messageResult');
                $('#form1').attr('action', '@Url.Action("Update")');
                $('#form1').submit();

                // サブミットが 2 回発生しないよう、false を返す
                return false;
            });

            $('#button9').click(function () {
                // button9 の場合は、DeleteのActionを実行しメッセージ部分を更新する
                $('#form1').attr('data-ajax-update', '#messageResult');
                $('#form1').attr('action', '@Url.Action("Delete")');
                $('#form1').submit();

                // サブミットが 2 回発生しないよう、false を返す
                return false;
            });

            $('#button10').click(function () {
                // 結果をクリアする
                $('#chartResult').html('');

                // Form をサブミットしないよう、false を返す
                return false;
            });

            $('#button21').click(function () {
                // button22 の場合は、PreventDoubleSubmissionを実行し二重送信防止機能をテストする
                $('#form1').attr('data-ajax-update', '#messageResult');
                $('#form1').attr('action', '@Url.Action("PreventDoubleSubmission")');

                // If prevent double submission in Ajax.BeginForm(), then sets this flag to true.
                // Ajax.BeginForm() で二重送信を防止する場合は、このフラグをtrueに設定します。
                PreventAjaxDoubleSubmit = true;

                $('#form1').submit();

                // サブミットが 2 回発生しないよう、false を返す
                return false;
            });

            $('#button22').click(function () {
                // button21 の場合は、TransitionsのActionを実行し画面遷移する
                $('#form1').attr('action', '@Url.Action("Transitions")');
                $('#form1').submit();

                // サブミットが 2 回発生しないよう、false を返す
                return false;
            });
        });
    </script>
}
