@{
    // ページタイトル
    ViewBag.Title = "Error";

    // マスターページ
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, "Error", FormMethod.Post, new { id = "form1" }))
{
    var label1Data = "";
    var label2Data = "";

    if (@ViewBag.label1Data != null)
    {
        label1Data = @ViewBag.label1Data;
    }
    else
    {
        label1Data = MVC_Sample.ErrorInformation.ErrorMessage;
    }
    if (@ViewBag.label2Data != null)
    {
        label2Data = @ViewBag.label2Data;

    }
    else
    {
        label2Data = MVC_Sample.ErrorInformation.ErrorInfo;
    }
    <h1>開発用エラー画面</h1>
<p>
    システム障害が発生しました。<br />
    エラーメッセージおよびスタックトレース情報を以下に示します。<br />
    ※ スタック トレースの正確な情報はアクセス トレース ログから確認下さい。<br />
</p>
<p>
    本画面は、Form、Session情報をダンプしますので<br />
    本番用エラー画面としては使用しないで下さい（差し替えて下さい）。
</p>
<hr />
<div>
    エラーメッセージ：<br />
    @Html.Label("Label1", (string)label1Data)
</div>
<hr />
<div>
    その他の情報：<br />
    @Html.Label("Label2", (string)label2Data)
</div>
<hr />
<div>
    <br />
    <br />
    ＨＴＴＰセッション情報の一覧：<br />
    <br />
    <table id="" border="1" width="600">
        <thead>
            <tr>
                <th style="width: 300px"><b>キー</b></th>
                <th style="width: 700px"><b>バリュー</b></th>
            </tr>
        </thead>
        <tbody>
            @{
    if (ViewBag.datas.Count != 0)
    {
        foreach (var row in ViewBag.datas)
        {
            <tr>
                <td>@row.key</td>
                <td>@row.value</td>
            </tr>
            }
    }
    else
    {
        ViewBag.datas = MVC_Sample.ErrorInformation.ErrorDatas;
        foreach (var row in ViewBag.datas)
        {
            <tr>
                <td>@row.key</td>
                <td>@row.value</td>
            </tr>
            }
    }
                }
        </tbody>
    </table>
</div>
}