@*
    //**********************************************************************************
    //* Copyright (C) 2007,2016 Hitachi Solutions,Ltd.
    //**********************************************************************************

    #region Apache License
    //
    // Licensed under the Apache License, Version 2.0 (the "License");
    // you may not use this file except in compliance with the License.
    // You may obtain a copy of the License at
    //
    // http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software
    // distributed under the License is distributed on an "AS IS" BASIS,
    // WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    // See the License for the specific language governing permissions and
    // limitations under the License.
    //
    #endregion

    //**********************************************************************************
    //* クラス名        ：ErrorView
    //* クラス日本語名  ：Error画面
    //*
    //* 作成日時        ：－
    //* 作成者          ：－
    //* 更新履歴        ：－
    //*
    //*  日時        更新者            内容
    //*  ----------  ----------------  -------------------------------------------------
    //*  20xx/xx/xx  ＸＸ ＸＸ         ＸＸＸＸ
    //**********************************************************************************
*@

@{
    // ページタイトル
    ViewBag.Title = "Error";

    // マスターページ
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* スクリプト・セクション（RenderSection("HeaderScriptsSection", required: true)に出力されます） *@
@section HeaderScriptsSection{
    <!-- Head 部の section -->
}

<h1>開発用エラー画面</h1>
<p>
    システム障害が発生しました。<br />
    エラーメッセージおよびスタックトレース情報を以下に示します。<br />
    ※ スタック トレースの正確な情報はアクセス トレース ログから確認下さい。<br />
</p>
<p>
    本画面は、Form、Session情報をダンプしますので<br />
    本番用エラー画面としては使用しないで下さい（差し替えて下さい）。
</p>
<hr />
<div>
    エラーメッセージ：<br />
    @Html.TextArea("Label1", (string)ViewBag.label1Data, new { @readonly = true, style = "width: 100%; height:100px;" })
</div>
<hr />
<div>
    その他の情報：<br />
    @Html.TextArea("Label2", (string)ViewBag.label2Data, new { @readonly = true, style = "width: 100%; height:300px;" })
</div>
<hr />
<div>
    <br />
    <br />
    ＨＴＴＰリクエスト・フォーム情報の一覧：<br />
    <br />
    <table id="" border="1" width="600">
        <thead>
            <tr>
                <th style="width: 300px"><b>キー</b></th>
                <th style="width: 700px"><b>バリュー</b></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var row in ViewBag.list_form)
                {
                    <tr>
                        <td>@row.key</td>
                        <td>@row.value</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    ＨＴＴＰセッション情報の一覧：<br />
    <br />
    <table id="" border="1" width="600">
        <thead>
            <tr>
                <th style="width: 300px"><b>キー</b></th>
                <th style="width: 700px"><b>バリュー</b></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var row in ViewBag.list_session)
                {
                    <tr>
                        <td>@row.key</td>
                        <td>@row.value</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@* スクリプト・セクション（RenderSection("FooterScriptsSection", required: true)に出力されます） *@
@section FooterScriptsSection{
    <!-- Footer 部の section -->
}